.weather-app-wrapper {
  max-width: 500px;
}
.weather-app {
  border: 1px solid;

  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  background-color: antiquewhite;
  margin-bottom: 0;
}
h1 {
  text-align: center;
  padding: 10px;
}
h5 {
  text-align: center;
}
.description {
  text-align: center;
}
img {
  height: 64px;
  width: 64px;
  margin-bottom: 27px;
}

.temp {
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}
small {
  position: relative;
  top: -26px;

  font-weight: 600;
}
.unit {
  text-decoration: none;
}
.active {
  text-decoration: none;
  color: black;
  cursor: default;
}

ul {
  list-style: none;
}
.card {
  text-align: center;
}

.link {
  text-decoration: none;
}
